# Client/Personal Data
*.env
*.env.toml

# File Types
*.json
#*.csv

# VS Code
*.vscode/*
*.history/

# Python
__pycache__/
*.py[cod]
*$py.class
*.Python
ipython_config.py
__pypackages__/

# Environments
*.env
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebooks
*.ipynb_checkpoints
*.ipynb

# File Locations
data/
Trending Folder/

# Specific items
youtube_data_scrape.py